footer.terminal {
    margin: 2em;
    font-size: 60%;
    text-align: center;
}
.top-menu img {
    margin: 1em 2em;
    opacity: 0.3;
}

.top-menu .top-menu-selected img {
    opacity: 1;
}

/* for spinner */
#waiting {
    text-align: center;
    font-size: 1000%;
    color: lightgray;
}

form {
    margin: 0 0.6em 1em;
}

/* for detail */
article {
    margin: 0 0.6em 1em;
}

article header h2 {
    font-size: 120%;
    font-weight: 200;
    margin-bottom: 1em;
}

article header {
    margin-bottom: 1em;
}

article section {
    margin-bottom: 1em
}

article footer {
    text-align: center;
}