footer.terminal {
    margin: 2em;
    font-size: 60%;
    text-align: center;
}
.top-menu {
    margin-bottom: 0.6em;
    font-size: 140%;
}

/* for spinner */
#waiting {
    text-align: center;
    font-size: 1000%;
    color: lightgray;
}

form {
    margin: 0 0.6em 1em;
}