footer.terminal {
    margin: 2em;
    font-size: 60%;
    text-align: center;
}

/* menu */
.top-menu {
    text-align: center;
    margin: 0.6em 0;
}

.top-menu img {
    width: 4em;
    opacity: 0.3;
}

.top-menu .top-menu-selected img {
    opacity: 1;
}

/* for spinner */
#waiting {
    text-align: center;
    font-size: 1000%;
    color: lightgray;
}

/* query */
form {
    margin: 0 0.6em 1em;
}

.form-label-aligned label {
    text-align: right;
    margin-right: 0.3em;
}

.pure-form input, .pure-form select {
    margin-bottom: 0.3em;
}

.pure-form label {
    display: block;
    margin-bottom: 0.3em;
}

/* for detail */
article {
    margin: 0 0.6em 1em;
}

article header {
    text-align: center;
    margin-bottom: 1em;
}

article header img {
    width: 3em;
}

article header h1 {
    font-size: 130%;
    font-weight: 100;
    margin-bottom: 1em;
}

article header h2 {
    font-size: 120%;
    font-weight: 100;
    margin-bottom: 1em;
    margin-top: 0;
}

article header h3 {
    margin: 0.3em;
}

article section {
    margin: 0.6em 0;
    border: 1px solid gray;
    padding: 1em;
    text-align: center;
}

article footer {
    text-align: center;
}

/* printer */
@media print {
    .top-menu {
        display: none;
    }
    spa form.pure-form {
        display: none;
    }
    body {
        font-size: 60%;
    }
}